<!DOCTYPE html>
{% block header %}
    <script src="{{STATIC_URL}}jquery.js"></script>
    <script src="{{STATIC_URL}}jquery.form.js"></script>
    <link rel="stylesheet" href="{{STATIC_URL}}bootstrap.css">
    <script src="{{STATIC_URL}}bootstrap.js"></script>
{% endblock %}

<body>

{% block content %}
{% endblock %}

{% block footer %}
<div class="row">
    <div class="span8 offset1">
        <footer class="footer" style="background-color:#c2c2c2">
            <ul class="footer">
                <li>notes number={{notes_number}}</li>
            </ul>
        </footer>
    </div>
</div>
{% endblock %}

</body>