{% extends "base.html" %}

{% block content%}
    {% load show_note %}
    <div class="row">
    <div class="span4 offset2">
        
        <div id="content">
            <a href="{%url add_note %}">ADD NEW NOTE</a>
            {% for note in notes %}
    			<div name="note_{{note.id}}" class="page-header">
    				{% show_note note.id %}
    			</div>
    		{% endfor %}
        </div>

        
    </div>
    </div>


        <div class=row>
            <div class="span4 offset2">
                You can insert this to your page and obtain a random note:
                    <div>
                    <pre>
{% filter force_escape %}<script src="http://{{site}}{{STATIC_URL}}embed_widget.js"</script>
<div id="container"></div>{% endfilter %}</pre>
                    </div>
                    Please, ensure you've got jQuery there!
            </div>
        </div>
    
{% endblock %}
