{% extends "base.html" %}

{% block content%}
    {% load show_note %}
    <div class="span8 offset2">
        
        <div id="content">
            <a href="{%url add_note %}">ADD NEW NOTE</a>
            {% for note in notes %}
    			<div name="note_{{note.id}}" class="page-header">
    				{% show_note note.id %}
    			</div>
    		{% endfor %}
        </div>

        <div>

        {% filter force_escape %}
            You can insert this to your page and obtain a random note:
            {{STATIC_URL}}embed_widget.js
            <div id="container"></div>
        {% endfilter %}

        {% filter force_escape %}
            {%include 'emb_widg.html' %}
        {% endfilter %}

        </div>
    </div>
    
{% endblock %}
